* {
  font-family: Helvetica ;
  box-sizing: border-box;
}

.left {
  width: 50%;
  float: left;
  text-align: center;
}

.right {
  width: 50%;
  float: right;
  text-align: center;
}

h1 {
  background-color: RoyalBlue;
  border-style: dotted;
  border-color: #FFBF33;
  border-radius: 3px;
}
