* {
  font-family: Verdana;
  box-sizing: border-box;
}

.col {
  width: 90%;
}

.left {
  width: 50%;
  float: left;
  text-align: center;
}

.right {
  width: 50%;
  float: right;
  text-align: center;
}

.button {
  border: 5px solid #2C054F;
  padding: 15px 32px;
  display: inline-block;
  border-radius: 10px;
}

a {
  text-decoration: none;
}
